@model FactoryDesignPatternCoreMvc_Demo.Models.Department

@{
    ViewData["Title"] = "New";
}

<div class="card">
    <div class="card-header">
        <h4 class="text-uppercase">Add New Department</h4>
    </div>
    <div class="card-body">
        <form asp-action="New">
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-primary rounded-0" />
                <a asp-action="Index" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-backward"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>
